<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FGV</title>
    <link href="/webjars/bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/font-awesome/6.4.0/css/fontawesome.min.css" rel="stylesheet"/>
    <link href="/assets/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="container vh-100 d-flex align-items-center">
    <div id="innerPage">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-6 col-xs-12 d-sm-block d-none">
                <div id="logo">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-white p-5">
                <div>
                    <h3>Welcome!</h3>
                </div>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success" role="alert">
                    You have been logged out.
                </div>
                <div class="mt-4">
                    <p>
                        Sign in by username/password
                    </p>
                </div>
                <form class="form-signin" method="post" th:action="@{/login}">
                    <input class="form-control rounded-0 mb-3" type="text" name="username" placeholder="Enter username"/>
                    <input class="form-control rounded-0 mb-3" type="password" name="password" placeholder="Enter password"/>
                    <button class="btn btn-info mt-4 w-100" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>